# File: sxrauxd_ext.rc
#
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

on post-fs-data
    mkdir /data/misc/sxraux 0770 system system

service vendor.sxrauxd /system_ext/bin/qxrsplitauxservice
    disabled
    class late_start
    user system
    group system

on boot
    setprop vendor.sxrauxd disable
    setprop vendor.qvrd.sxrauxd disable

on property:vendor.sxrauxd=enable
    start vendor.sxrauxd
on property:vendor.qvrd.sxrauxd=enable
    start vendor.sxrauxd
on property:vendor.qvrd.sxrauxd=disable && property:vendor.sxrauxd=disable
    stop vendor.sxrauxd
